body {
background-image : url('/images/avengers.jpg');
 color:white;
  align-items: center;
  font-size: 2em;
  background-size: cover;
  background-repeat: no-repeat
}

.space{
    padding: 20px;}

.center{
    align: center;
}

.container{
    background-color: violet;}

.form-control{
  width: 25em;
}
th,
tr,
td{
  margin: 2px solid white;
  width: 10em;
}
.taa {
text-align : center;
}