{{#partial "title" }}
    Graet you alread add hero!!
{{/partial}}

<!--check.hbs.-->
{{#partial "content"}}

<div class="container">
    <div class="jumbotron" style="text-align : center; color: black;">
        <h1>Hero Added Successfully!</h1>
        <a href='/squad'>Check Squad</a>
    </div>
</div>

<!--check.hbs.-->
{{/partial}}

{{> layout.hbs}}