{{#partial "title" }}
    Graet you alread add hero!!
{{/partial}}

<!--check-hero.hbs.-->
{{#partial "content"}}

    <div class="  navigation">
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href='/hero'>create hero</a></li>
                    <li><a href='/squad1'>create squad</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="jumbotron" style="text-align : center; color:white; background-color:  #660000; opacity: 0.9;  opacity: 0.9;border-radius: 40px;">
            <h1>Squad Added Successfully!</h1>
            <a href='/heroc'>Check Squad</a>
        </div>
    </div>

    <!--check-hero.hbs.-->
{{/partial}}

{{> layout.hbs}}