{{#partial "title" }}
    Welcome to herosquad
{{/partial}}

<!--index.hbs.-->
{{#partial "content"}}
    <div class="  navigation">
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href='/hero'>create hero</a></li>
                    <li><a href='/squad1'>create squad</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
       <div class="roxa">
           <h1>HEROES SQUAD </h1>
           <br>
           <p>Do you still believe in heroes <br> Knowing it's real means you gotta make a decision.One, keep denying it or two...<br>
            do something ...</p>
       </div>
    </div>

<!--index.hbs.-->
{{/partial}}

{{> layout.hbs}}