{{#partial "title" }}
    Welcome to herosquad
{{/partial}}

<!--index.hbs.-->
{{#partial "content"}}

<div class="container">
<div class="jumbotron" style="color :  black;">
    <h1>HeroSquad App</h1>
</div>

    <div class="intro">
        <p class="center">
            An app that allows you to recruit a well-balanced team of superheroes (or any other character-type of your choosing).
        </p>
        <a href='/hero'>Add Hero</a>
        <br>
        <a href='/hero'>Add Squad</a>
    </div>
</div>

<!--index.hbs.-->
{{/partial}}

{{> layout.hbs}}