{{#partial "title" }}
    Great you alread add hero!!
{{/partial}}

<!--squad.hbs.-->
{{#partial "content"}}


    <div class="  navigation">
        <nav id="navbar" class="">
            <div class="nav-wrapper">
                <ul id="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href='/hero'>create hero</a></li>
                    <li><a href='/squad1'>create squad</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="taa" style="text-align: center;">
            <h1>MY SQUAD </h1>
            <p> Name :{{name}}</p>
            <p> Age :{{age}}</p>
            <p> Superpower: {{superpower}}</p>
            <p></p>
        </div>
    </div>
    <!--squad.hbs.-->
{{/partial}}

{{> layout.hbs}}