{{#partial "title" }}
    Great you alread add hero!!
{{/partial}}

<!--squad.hbs.-->
{{#partial "content"}}

    <div class="container">

        <div class="taa">

            <h1>MY SQUAD </h1>

            <table>
                <tr>
                    <td> Name </td><br>
                    <td> Age </td><br>
                    <td> SuperPower </td><br>
                    <td> Weakness </td><br>
                </tr>

            </table>

            <a href='/hero'>ADD HERO</a>
            <br>
            <a href='/'>HOME</a>

        </div>
    </div>
    <!--check.hbs.-->
{{/partial}}

{{> layout.hbs}}